.cart-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px 0 0 10px;
    background: #f6f9fc;
    height: auto;
    padding: 28px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}

.cart-details {
    position: relative;
    flex: 5;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.cart-summary {
    position: relative;
    flex: 2;
    padding: 28px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cart-list {
    background: white;
}

.product-image-small img{
    float: left;
    width: 30%;
    padding: 28px;
}

.cart-items-function {
    float: right;
    margin-top: 50px;
}

.cartControl {
    display: flex;
    align-items: center;
}

.cartControl button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.incCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #e94560;
}

.desCart {
    background: #f6f9fc;
}

.cart-total h2 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: #e94560;
}

.no-items {
    color: #e94560;
    font-size: 18px;
    margin-top: 30px;
    height: 130px;
}