body {
    min-height: 100vh;
    background-color: #f2f2f2;
}
html {
    font-family: 'Lato', sans-serif;
}

.main-content {
    display: grid;
    grid-template-columns: 30% 70%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 70vh;
}

@media (min-width: 768px) {
    .main-content {
        border-top: 1px solid #ccc;
        border-bottom: none;
        height: 70vh;
    }
}

.left-categories {
    position: relative;
    background-color: #f2f2f2;
    padding: 10px 14px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 70vh;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 14px;
    transition: all 0.5s ease;
    min-height: 70vh;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.products {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px,0,0,10px;
    max-width: 1000px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-quantity {
    margin-bottom: 10px;
}
